<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>

</head>
<body>

<br>
<br>




<form action="{% url 'test_submit' %}" method="POST">
    {% csrf_token %}
    <label>
      <span>Amount</span>
      <input id="amount" type="text" name="amount" value="{{ amount }}">
        <input id="user_id" type="text" name="user_id" value="{{ user }}">
        <input id="item_id" type="text" name="item_id" value="{{ item }}">
    </label>

    <h5>can add field here send as hidden input and amount</h5>
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_yP2zizhcaArDimys5HdQvH0B"
    data-amount="2000"
    data-name="Demo Site"
    data-description="2 widgets ($20.00)"
    data-image="/128x128.png"
    data-locale="auto">
  </script>
</form>






</body>
</html>